/* Main Colors */
:root {
    --primary-bg-color: #1F2937;
    --secondary-bg-color: #324053;
    --green-color: #55F991;
    --green-button-bg: #16ab79;
    --darker-green-color: #0a9567;
    --title-subtext-color: #D5D4D8;
    --password-bg-color: #273549;
    --notification-bg-color: #151c25;
    --black-theme-hover-bg-color: #29394f;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em;
}

/* General Classes */

.separated-line {
    background: var(--secondary-bg-color);
    border: 0;
    height: 4px; 
}

.highlight-text {
    color: var(--green-color);
}

/* Setting Button Section */

.settings-button-holder {
    display: flex;
    margin-bottom: 1em;
}

#setting-button {
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
    padding: 0 .5em;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.setting-button-texts {
    font-size: 0.75em;
    color: white;
    display: inline-block;
    font-weight: bold;
}

.settings-icon {
    width: 22px;
    height: 22px;
    text-align: center;
    max-width: 100%;
}

/* Settings Popup Window Section */

#settings-popup {
    width: 80%; 
    max-width: 1200px;
    color: white;
    font-size: 1.125em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-bg-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1em;
    padding-top: 3em;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#close-btn {
    font-size: 1em;
    color: white;
    position: absolute;
    background: var(--secondary-bg-color);
    top: 10px;
    left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

#close-btn:hover {
    background: var(--black-theme-hover-bg-color);
    color: red;
}

.margin-space {
    margin: 1em 0;
}

.setting-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em
}

#password-length {
    font-size: 1em;
    width: 30%; 
    max-width: 100px;
    padding: .5em;
    border: none;
    border-radius: 6px;
    color: #333;
    outline: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#password-length:focus {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.switch {
    position: relative;
    width: 120px;
    height: 40px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 4px;
    bottom: 4px;
    background: white;
    transition: 0.4s;
}

input:checked + .slider {
    background: var(--darker-green-color);
}

input:checked + .slider:before {
    transform: translateX(45px);
}

.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}

/* Title Section */

.title-text {
    color: white;
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}

.title-subtext {
    color: var(--title-subtext-color);
    font-weight: 0;
    font-size: .75em;
    text-align: center;
    margin-bottom: 0;
}

/* Generator Button Section */

#generator-btn {
    font-size: .6em;
    color: #FFFFFF;
    padding: 1em 2em;
    background: var(--green-button-bg);
    border: 0;
    border-radius: 8px;
    display: block;
    margin: 3em auto;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    font-weight: bold;
}

/* Result Section */

.passwords-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 3em;
}

.generated-password {
    width: 240px;
    height: 55px;
    font-size: .75em;
    color: var(--green-color);
    background: var(--password-bg-color);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.notification {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--notification-bg-color);
    color: white;
    font-size: .6em;
    padding: 1em;
    width: 180px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Some Animations on Buttons */

#setting-button:hover, #generator-btn:hover, .generated-password:hover {
    background: var(--black-theme-hover-bg-color);
    transform: scale(1.05);
}

#generator-btn:hover {
    background: var(--darker-green-color);
}

#setting-button:active, #generator-btn:active, .generated-password:active {
    transform: scale(1);
}

/* Media Queries */
@media only screen and (max-width: 720px){
    :root {
        font-size: 22px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1024px){
    :root {
        font-size: 28px;
    }
    
    .settings-icon {
        width: 26px;
        height: 26px;
    }
}

@media only screen and (min-width: 1025px) {
    :root {
        font-size: 32px;
    }

    .setting-button-texts {
        font-size: 22px;
    }
}

/* Media Queries For Setting Button Section */
@media only screen and (min-width: 720px) {
    .settings-icon {
        width: 24px;
        height: 24px;
    }
}

/* Media Queries For Setting Popup Window Section */

@media only screen and (min-width: 340px) {
    input:checked + .slider:before {
        transform: translateX(55px);
    }
}

@media only screen and (min-width: 380px) {
    input:checked + .slider:before {
        transform: translateX(66px);
    }
}

@media only screen and (min-width: 420px) {
    input:checked + .slider:before {
        transform: translateX(76px);
    }
}

@media only screen and (min-width: 720px) {
    .switch {
        width: 140px;
        height: 60px;
    }
    
    .slider:before {
        height: 50px;
        width: 50px;
    }
    
    input:checked + .slider:before {
        transform: translateX(78px);
    }
}

/* Media Queries For Title Section */

@media only screen and (min-width: 420px) {
    .title-text {
        font-size: 1.75em;
        text-align: center;
    }
    
    .title-subtext {
        font-size: 1em;
        text-align: center;
    }
}

@media only screen and (min-width: 540px) {
    .title-text {
        font-size: 2.25em;
        text-align: left;
    }
    
    .title-subtext {
        font-size: 1em;
        text-align: left;
    }
}

/* Media Queries For Generator Button Section */

@media only screen and (min-width: 420px) {
    #generator-btn {
        font-size: .7em;
    }
}

@media only screen and (min-width: 540px) {
    #generator-btn {
        font-size: .8em;
        padding: 1em 2em;
        display: inline;
    }
}

/* Media Queries For Result Section */

@media only screen and (min-width: 721px) {
    .generated-password {
        width: 520px;
        height: 75px;
    }
    
    .notification {
        width: 220px;
    }
}

@media only screen and (min-width: 1024px) {
    .notification {
        width: 320px;
    }
}